<script setup lang="ts">
import { ref } from 'vue';
import axios from '@/service/axios';

const email = ref('')
const result = ref<{prediction?: string}>()
async function click (email: string) {
   await getpredic(email)
}

async function getpredic (email: string) {
    const res = await axios.PredicEmail(email)
    result.value = res.data
}

</script>

<template>
    <v-app-bar class="bar" :elevation="2">
        <v-app-bar-title class="title">Email Spam</v-app-bar-title>
    </v-app-bar>
    <v-container class="con">
        <v-row>
            <v-col>
                <v-text-field label="Email Spam" variant="outlined" v-model="email">
                </v-text-field>
                <v-btn class="btn" variant="outlined" @Click="click(email)">Check</v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text>This email is {{ result?.prediction }}</v-text>
            </v-col>
        </v-row>
    </v-container>
</template>

<style scoped>

.title {
    font-size: 25px;
    text-align: center;
}
</style>